

body {
  background-color: rgb(121, 165, 182);
}

  .box{
     text-align: center;

  }
  .box{
    color:  rgb(0, 0, 255);
  }
.boog {   text-align: center;
}
/* .boow{
  div.gallery-item 
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;} */
  .boow{
    margin: 25px 700px 75px;
    display: block;
  border-radius: 120%;
  border: 30px solid rgb(124, 70, 20);
        transition: 0.3s;
    
    
  }
  .baag{
    text-align: center;
    
  }
         
 .wow{
  text-align: right;
 }        
 .pop{ 
  text-align: right;
color: rgb(53, 2, 2);
margin: 10px 60px 3px  ;
 }  
 .aoo{
  text-align: right;
   margin: 5px 10px 500px    ;

 }
 .moon{
  margin-bottom: 50px;
  overflow: hidden;
  border: 20px solid rgb(53, 2, 2)   ;

  
  
 }

.moon h2{
  float: left;
  width: 80%;
}

.moon img{
  float:right ;
  
}

.vfv{
  text-align: right;
  color: rgb(185, 40, 40);
  margin: 10px 60px 3px  ;
}


 .mom{margin-bottom: 300px;
  overflow: hidden;
  border: 20px solid rgb(53, 2, 2)   ;
}   
.po{
  color: rgb(117, 71, 32);
  
}


 
 .moo{
  margin-bottom: 50px;
  overflow: hidden;
  border: 20px solid rgb(114, 71, 53)   ;

  
  
 }

.moo h2{
  float: right;
  /* width: 80%; */
}

.moo img{
  float:left ;
  width: 20%;
}

.o{
  color: rgb(87, 56, 30);
  text-align: right;
}


 
 .mo{
  margin-bottom: 50px;
  overflow: hidden;
  border: 20px solid rgb(71, 46, 34)   ;

  
  
 }

.mo h2{
  float: left;
  /* width: 80%; */
}

.mo img{
  float:right ;
  width: 20%;
}
  
       .IU{
        text-align: center;
        overflow: hidden;
       }       
       